.back-btn:hover, a:hover, .compareBtn:hover, .boxAndWhisker:hover, .districting:hover, .info-circle:hover{
  cursor: pointer;
}

.state_selection_banner{
  position:absolute;
  top: 0;
  left:0;
  width:100%;
  height:200px;
  z-index: 3;
}

.constraints_banner{
  position:absolute;
  top: 0;
  left:0;
  width:100%;
  height:150px;
  z-index: 3;
}

.weights_banner{
  position:absolute;
  top: 0;
  left:0;
  width:100%;
  height:125px;
  z-index: 3;
}

.results_banner{
  position:absolute;
  top: 0;
  left:0;
  width:100%;
  height:130px;
  z-index: 3;
}

.objective_banner{
  position:absolute;
  top: 0;
  right:0;
  width:100%;
  height:130px;
  z-index: 3;
}

.loading-screen{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.40);
  z-index: 20;
  top:0;
  left:0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

